:host {
  border-radius: 20px;
  text-align: center;
  width: 20px;
  display: inline-block;
  text-align: center;

  & .met {
    background-color: lightgreen;
  }

  & .unmet {
    background-color: none;
  }
}